.animeplayer-container {
  width: fit-content;
  margin-top: 70px;
}
@media screen and (min-width: 1450px) {
  .animeplayer-container {
    max-width: 67vw;
  }
}
.vime-container {
  width: 98%;
  margin: 0 auto;
}
.vertical-grid-container {
  position: absolute;
  right: 35px;
  top: 80px;
  width: 30vw;
}

.vertical-grid::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.vertical-grid::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.vertical-grid::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 4px;
}
.vertical-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-height: 1050px;
  overflow-x: hidden;
  display: grid;
  overflow-y: scroll;
  row-gap: 20px;
}

.recommend-div button.rec {
  display: none;
}
.top-narrowbar {
  background-color: rgb(38, 50, 56);
  height: 35px;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.curranimeinfo {
  margin-top: 5px;
  display: flex;
  gap: 25px;
}
.contindex {
  overflow-y: scroll;
  max-height: 100px;
  height: fit-content;
  display: grid;
  gap: 4px 4px;
  justify-items: start;
  justify-content: start;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}
hr {
  border: 0;
  background-color: cyan;
  border-top: 2px solid #ddd;
  margin-top: 20px;
}
.recommendations-title {
  color: white;
  font-size: 1.7rem;
}

.anime-title {
  font-size: 1.8rem;
}
.curranime-status,
.curranime-adaptation,
.curranime-genres,
.curranime-studios {
  color: white;
}
.summary-content {
  text-align: justify;
  color: white;
  font-weight: lighter;
}
.summary-title {
  font-size: 1.7rem;
  color: #fc4747;
  margin-top: 20px;
}
.epindex {
  cursor: pointer;
  border-radius: 3px;
  height: 30px;
  width: 50px;
  color: white;
  background-color: #366083;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .animeplayer-container {
    margin-left: 0px;
  }
  .spinner {
    transform: scale(0.65) !important;
  }
}
.curranime-platform,
.curranime-score,
.curranime-epaired,
.curranime-releaseyear {
  color: white;
}

.curranime {
  width: 99%;
  padding: 15px;
  background-color: #0f0617;
  line-height: 1.5;
}

@media screen and (max-width: 1450px) {
  .vertical-grid-container {
    display: none;
  }
}
@media screen and (max-width: 1700px) {
  .vertical-grid .animecard-card {
    height: 280px;
    width: 200px;
  }
}
@media screen and (min-width: 1400px) {
  .vime-container {
    margin-left: 22px;
  }
  .animeplayer-container {
    margin-top: 90px;
    margin-left: 10px;
  }
}

button.rec {
  display: none;
}
@media screen and (min-width: 768px) {
  .curranime {
    padding-left: 22px;
  }

  .anime-title {
    font-size: 2.6rem;
  }
}
