.gridcardinfo-year {
  color: white;
  font-size: 1.15rem;
  margin-top: 4px;
}
.grid-card-title {
  text-align: center;
  color: white;
  margin-top: 1px;
  font-weight: lighter;
  font-size: 1.2rem;
}
.gridcard-card {
  transition: all 0.5s;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
@media screen and (max-width: 359px) {
  .gridcard-card {
    height: 120px;
    width: 100px;
  }
}
@media screen and (min-width: 360px) {
  .gridcard-card {
    height: 140px;
    width: 110px;
  }
}
@media screen and (min-width: 390px) {
  .gridcard-card {
    height: 140px;
    width: 115px;
  }
}
@media screen and (min-width: 420px) {
  .gridcard-card {
    height: 170px;
    width: 125px;
  }
}
@media screen and (min-width: 440px) {
  .gridcard-card {
    height: 160px;
    width: 130px;
  }
}
@media screen and (min-width: 475px) {
  .gridcard-card {
    height: 185px;
    width: 145px;
  }
}
@media screen and (min-width: 700px) {
  .gridcard-card {
    height: 250px;
    width: 160px;
  }
}
@media screen and (min-width: 800px) {
  .gridcard-card {
    height: 250px;
    width: 180px;
  }
  .gridcardinfo-year {
    font-size: 1.35rem;
  }
  .grid-card-title {
    font-size: 1.5rem;
  }
}

.stardiv {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 7px;
  position: absolute;
  border-radius: 5px;
  font-size: 1.35rem;
  display: flex;
  gap: 4px;
  border-top-left-radius: 10px;
  justify-content: center;
  align-items: center;
}
.gridcard-wrapper {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.gridcard-epnumber {
  color: white;
  font-weight: lighter;
}

/* @media screen and (min-width: 1168px) {
  .gridcard-card {
    height: 340px;
    width: 230px;
  }
} */
@media screen and (min-width: 1300px) {
  .gridcard-card {
    height: 340px;
    width: 230px;
  }
}
/* 
@media screen and (min-width: 1600px) {
  .gridcard-card {
    height: 480px;
    width: 360px;
  }
} */
@media screen and (min-width: 1800px) {
  .gridcard-card {
    height: 340px;
    width: 230px;
  }
}
