.header-card {
  background-position: center;
  background-size: cover;
  height: 450px;
}

.anime-info-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.anime-info {
  color: white;
  display: flex;
  gap: 20px;
}

.anime-title {
  color: white;
  font-size: 4rem;
}
.anime-description {
  text-align: justify;
  color: white;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .btn-watchnow {
    font-size: 1.2rem;
  }
  .anime-info-item {
    font-size: 1.4rem;
  }
  .anime-title {
    font-size: 2.5rem;
  }

  .anime-description {
    width: 100%;
    font-size: 1.4rem;
  }
}
